.sidebarRow {
    display: flex;
    align-items: center;
    padding: 20px;
    cursor: pointer;
}

.sidebarRow:hover {
    background-color: #ccc7c7;
    border-radius: 10px;
}

.sidebarRow > h4 {
    margin-left: 20px;
    font-weight: 600;
}

.sidebarRow > .MuiSvgIcon-root {
    font-size: x-large;
    color: #086dba;
}